.ui-menu {
  background: white;
  display: block;
  width: 200px;
  border: 1px solid rgba(0, 0, 255, 0.1);
  z-index: 1000;
}

.ui-menu .ui-menu-item {
  padding: 10px;
}

.ui-menu .ui-state-focus {
  background:rgba(0, 0, 255, 0.1);
}

.ui-helper-hidden-accessible {
  display: none;
}
